@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');

html, body, tr, td, li, ol, ul, button{
    margin:0;
    padding:0;
    /* cursor:none; */
}

button{
    background: inherit ; 
    border:none; 
    box-shadow:none; 
    border-radius:0;
     padding:0; 
     overflow:visible; 
     cursor:pointer
    }

html, body{
    width: 100%;
    height:100%;
    overflow: hidden;
}

body{
    background-color: #fcfcfc;
}

.hide{
    display: none;
}

#section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mouse_circle{
    position:fixed;
    z-index:0;
    top:0;
    left:0;
    width:50px;
    height:50px;
    background-color: #ff0;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
}

.mouse_circle_hover{
    background-color: #000;
    scale: 1.5;
}

.title1{
    z-index: 10;
    font-family: 'Gowun Batang', serif;
    font-size: 2em;
    transition:all 0.2s;
}

.title1::before{
    content: '마우스를 올려보세요';
    color: #000;
}

.title1_hover{
    font-weight: bold;
    font-size: 10em;
}

.title1_hover::before{
    content: '스페이스바를 누르세요';
    margin: 0px;
    color: #fcfcfc;
}

.btn_green{
    z-index: 10;
    padding: 10px 30px;
    border: 1px solid #006d52;
    background-color: transparent;
    cursor:none;
}